
/*Modal-Box*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 93vh;
  background-color: $secondary-color;

  border-radius: 10px;
}

.modal-header {
  padding: 0 16px;
  background-color: $secondary-color;
  border-bottom: none;
  height: 15vh;
  border-radius: 10px;
}

.modal-body {
  padding: 0 16px;
  max-width: 1000px;
  margin: 45px auto 0 auto;
  background-color: $secondary-color;
}

.modal-body-univers {
  float: left;
  height: 500px;
  width: 600px;
  margin: 0 80px 0 0;
  border: 2px solid $white-color;
  display: inline-block;
}

.modal-body-nav {
  font-size: 2.3rem;
  line-height: 5rem;
}

.modal-footer {
  padding: 0 16px;
  margin-top: 70px;
  background-color: $secondary-color;
}

.modal-footer-icons .fa {
  margin: 0 10px;
}

.iconify {
  height: 42px;
  width: 42px;
}

.modal-footer-line {
  display: inline-block;
  margin-top: 25px;
  height: 1px;
  width: 80px;
  background-color: $white-color;
}

.navigation a:hover {
  color: $info-color;
}

.close {
  color: $white-color;
  float: left;
  font-size: 3em;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: $info-color;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {
  .modal-content {
    height: 97vh;
  }

  .modal-header {
    height: 10vh;
  }

  .modal-body {
    padding: 0 40px;
    max-width: 600px;
    margin: 0 auto;
  }

  .modal-body-univers {
    float: none;
    height: 300px;
    width: 100%;
    margin: 0 auto;
  }

  .modal-body-nav {
    margin-top: 15px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 4rem;
  }
  
  .modal-body-nav a {
    display: block;
  }

  .modal-footer {
    text-align: center;
    margin-top: 0;
    padding: 25px 0;
  }

  .modal-footer-icons .fa {
    font-size: 2rem;
  }
  
  .iconify {
    height: 30px;
    width: 30px;
  }

  .modal-footer-line {
    display: none;
  }

  .modal-footer-text {
    display: none;
  }
}

//navigation others pages
.menu {
  border: solid 1px $white-color;
  width: 300px;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
}


@media only screen and (max-width: 400px) { 
  .modal-body-nav {
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
  
  .modal-footer {
    padding: 30px 0 10px 0;
  }

  .modal-body-univers {
    height: 250px;
  }

  //navigation others pages
  .menu {
    width: 200px;
  }
}


