//worksweb index
.worksweb-container {
  display: grid;
  grid-gap: 30px;
}

.worksweb-child-img {
  width: 100%;
  height: auto;
  transition: opacity .3s;
}

.worksweb-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worksweb-child-img:hover {
  opacity: .5;
}

.worksweb-child-overlay-icons {
  position: absolute;
  opacity: 0;
  transition: .3s ease;
}

.worksweb-child:hover .worksweb-child-overlay-icons {
  opacity: 1;
}

.worksweb-child-icons {
  padding: 0 20px;
  transition: color .3s;
}

.icons-show-more {
  text-align: center;
}

.worksweb-show-child-icons {
  margin: 40px 10px;
  transition: color .3s;
}

.worksweb-child-icons:hover {
  color: $primary-color;
}

.worksweb-show-child-icons:hover {
  color: $info-color;
}

@media only screen and (min-width: 850px) {
  .worksweb-container {
    grid-template-columns: 2fr 2fr;
    grid-gap: 40px;
  }
  .worksweb-child img {
    height: 250px;
  }
}

@media only screen and (min-width: 950px) {
  .worksweb-container {
    grid-template-columns: 2fr 2fr;
    grid-gap: 40px;
  }
  
  .worksweb-child img {
    height: 300px;
  }
}

//worksweb show
.workweb-show-return {
  margin-bottom: 15px;
}

.text-move {
  display: inline-block;
  margin-left: 7px;
  transition: .3s;
}

.workweb-show-return:hover .text-move {
  margin-left: 13px;
}

.workweb-show-img {
  width: 100%;
}

.contain-show-title {
  display: flex;
  align-items: center;

  line-height: 1.8rem;
  text-transform: uppercase;
}

.workweb-show-title {
  margin: 40px auto;

  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.workweb-show-before, 
.workweb-show-after {
  display: inline-block;
  height: 6px;
  width: 30px;

  margin: 10px 15px;
  background-color: $info-color;
  border-radius: 2px;
}

@media only screen and (min-width: 700px) {
  .workweb-show-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .workweb-show-before, 
  .workweb-show-after {
    width: 100px;
  }
}