html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

body {
  background-color: #141C38;
  color: #FFF;
}

img {
  border-radius: 6px;
}

.bg-primary {
  background-color: #141C38 !important;
}

html {
  font-size: 16px;
}

body {
  font-family: "Monserrat", sans-serif;
  line-height: 1.625;
  color: #FFF;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 30px;
}

.container-small {
  max-width: 760px;
  margin: 0 auto;
  padding: 40px 30px;
}

/*Modal-Box*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 93vh;
  background-color: #202C57;
}

.modal-header {
  padding: 0 16px;
  background-color: #202C57;
  border-bottom: none;
  height: 15vh;
}

.modal-body {
  padding: 0 16px;
  max-width: 1000px;
  margin: 45px auto 0 auto;
  background-color: #202C57;
}

.modal-body-univers {
  float: left;
  height: 500px;
  width: 600px;
  margin: 0 80px 0 0;
  border: 2px solid #FFF;
  display: inline-block;
}

.modal-body-nav {
  font-size: 2.3rem;
  line-height: 5rem;
}

.modal-footer {
  padding: 0 16px;
  margin-top: 70px;
  background-color: #202C57;
}

.modal-footer-icons .fa {
  margin: 0 10px;
}

.iconify {
  height: 42px;
  width: 42px;
}

.modal-footer-line {
  display: inline-block;
  margin-top: 25px;
  height: 1px;
  width: 80px;
  background-color: #FFF;
}

.navigation a:hover {
  color: #7699D4;
}

.close {
  color: #FFF;
  float: left;
  font-size: 3em;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #7699D4;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {
  .modal-content {
    height: 97vh;
  }

  .modal-header {
    height: 10vh;
  }

  .modal-body {
    padding: 0 40px;
    max-width: 600px;
    margin: 0 auto;
  }

  .modal-body-univers {
    float: none;
    height: 300px;
    width: 100%;
    margin: 0 auto;
  }

  .modal-body-nav {
    margin-top: 15px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 4rem;
  }

  .modal-body-nav a {
    display: block;
  }

  .modal-footer {
    text-align: center;
    margin-top: 0;
    padding: 25px 0;
  }

  .modal-footer-icons .fa {
    font-size: 2rem;
  }

  .iconify {
    height: 30px;
    width: 30px;
  }

  .modal-footer-line {
    display: none;
  }

  .modal-footer-text {
    display: none;
  }
}
.menu {
  border: solid 1px #FFF;
  width: 300px;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  .modal-body-nav {
    font-size: 1.7rem;
    line-height: 3.5rem;
  }

  .modal-footer {
    padding: 30px 0 10px 0;
  }

  .modal-body-univers {
    height: 250px;
  }

  .menu {
    width: 200px;
  }
}
.worksweb-container {
  display: grid;
  grid-gap: 30px;
}

.worksweb-child-img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s;
}

.worksweb-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worksweb-child-img:hover {
  opacity: 0.5;
}

.worksweb-child-overlay-icons {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
}

.worksweb-child:hover .worksweb-child-overlay-icons {
  opacity: 1;
}

.worksweb-child-icons {
  padding: 0 20px;
  transition: color 0.3s;
}

.worksweb-child-icons:hover {
  color: #141C38;
}

@media only screen and (min-width: 850px) {
  .worksweb-container {
    grid-template-columns: 2fr 2fr;
    grid-gap: 40px;
  }

  .worksweb-child img {
    height: 250px;
  }
}
@media only screen and (min-width: 950px) {
  .worksweb-container {
    grid-template-columns: 2fr 2fr;
    grid-gap: 40px;
  }

  .worksweb-child img {
    height: 300px;
  }
}
.workweb-show-return {
  margin-bottom: 15px;
}

.workweb-show-img {
  width: 100%;
}

.contain-show-title {
  display: flex;
  align-items: center;
  line-height: 1.8rem;
  text-transform: uppercase;
}

.workweb-show-title {
  margin: 40px auto;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.workweb-show-before,
.workweb-show-after {
  display: inline-block;
  height: 6px;
  width: 30px;
  margin: 10px 15px;
  background-color: #7699D4;
  border-radius: 2px;
}

@media only screen and (min-width: 700px) {
  .workweb-show-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .workweb-show-before,
.workweb-show-after {
    width: 100px;
  }
}
.container-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
}

.card {
  border-radius: 8px;
  background-color: #FFF;
  color: #141C38;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.35);
}

.card-img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.card-text {
  line-height: 1.2rem;
  margin: 10px 0 15px 0;
  font-size: 0.9rem;
}

.card-link {
  font-weight: bold;
  color: #7699D4;
}

.card-link i {
  margin-left: 10px;
}

@media only screen and (min-width: 700px) {
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}
@media only screen and (min-width: 1150px) {
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 60px;
  text-align: center;
  color: #141C38;
  background-color: #FFF;
}

.contain-footer {
  width: 75%;
  margin: 0 auto;
}

.footer-name {
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-line {
  margin: 15px auto;
  height: 2px;
  border-radius: 2px;
  background-color: #141C38;
}

.footer-icons a {
  margin: 0 5px;
}

.footer-icons a:hover {
  color: #7699D4;
}

@media only screen and (min-width: 850px) {
  .footer {
    display: block;
    height: 220px;
    padding: 70px 0px;
    text-align: left;
  }

  .footer-name {
    display: inline-block;
    margin-bottom: 0;
  }

  .footer-icons {
    float: right;
  }

  .footer-icons .icon {
    height: 30px;
  }
}
.subtitle-about {
  font-weight: bold;
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 1.2rem;
}

.badges-about {
  text-align: center;
}

.badge-about {
  display: inline-block;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  background-color: #FFF;
  color: #141C38;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
